<div class="h-full w-full overflow-auto">

  <ng-container *ngIf="climbersGroupByFirstLetter">
    <div *ngFor="let item of climbersGroupByFirstLetter | keyvalue" >
      <div class="m-8 font-bold">{{item.key | uppercase}}</div>

      <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4 p-4">
        <ng-container *ngIf="item.value as climbers">
          <li *ngFor="let climber of climbers">
            <div class="gap-2 px-4 py-4 rounded-2xl shadow">
              <div class="flex flex-row items-center justify-between gap-2 px-4 py-4 rounded-2xl">
                <div [ngClass]="climber.gender === 'MALE' ? 'bg-blue-600' : 'bg-pink-600'" (click)="switchClimberGender(climber)"
                     class="w-10 h-10 cursor-pointer rounded-full flex items-center justify-center text-white font-bold opacity-50 hover:shadow-xl">
                  {{ climber.lastname[0] | uppercase }}{{ climber.firstname[0] | uppercase }}
                </div>
                <div class="flex-1 font-semibold text-right">{{ climber.lastname | uppercase }} {{ climber.firstname | titlecase }}</div>
              </div>
              <div class="flex flex-row items-center justify-between gap-2 px-4 py-4 rounded-2xl">
                <div class="hover:shadow-xl cursor-pointer" (click)="onQrCode(climber)"><img width="40" height="40" src="assets/qr.png"></div>
                <div><img [routerLink]="['/', 'events', climber.eventId, 'climbers', climber.id]" alt="" style="height: 40px" class="w-full cursor-pointer" src="assets/ranking.svg"></div>
                <div *ngIf="event && event.verifyPayment">
                  <div *ngIf="climber.paid" (click)="setClimberPaid(climber, false)" class="hover:shadow-xl cursor-pointer font-bold text-blue-600 bg-blue-100 w-8 h-8 text-center rounded-full flex flex-row justify-center items-center">
                    €
                  </div>

                  <div *ngIf="!climber.paid" (click)="setClimberPaid(climber, true)" class="cursor-pointer hover:shadow-xl font-bold text-red-500 bg-red-50 w-8 h-8 text-center rounded-full flex flex-row justify-center items-center">
                    €
                  </div>
                </div>
                <div
                  (click)="removeClimber(climber)"
                  class="cursor-pointer font-bold text-red-500 hover:shadow-xl bg-red-50 w-8 h-8 text-center rounded-full flex flex-row justify-center items-center">
                  <img alt="" class="w-4" src="assets/trash.svg">
                </div>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>
</div>

<div class="flex justify-center items-center absolute top-0 bottom-0 left-0 right-0 bg-gray-500 cursor-pointer bg-opacity-70" (click)="open = false" *ngIf="open">
  <div class="rounded-xl overflow-hidden shadow-2xl">
    <qrcode class="cursor-pointer" [qrdata]="url" [width]="256" [elementType]="'url'" [errorCorrectionLevel]="'L'"></qrcode>
  </div>
</div>
