<div class="page flex flex-row">
  <ng-container *ngIf="event">
    <div class="h-full w-16 flex flex-col items-center bg-gray-50 shadow-xl pt-16">
      <div [routerLinkActive]="'scale-110 animate-pulse'" [routerLink]="[ '/events', event.id, 'admin', 'climbers' ]"
           class="w-full p-4 cursor-pointer transition">
        <img alt="" class="w-full" src="assets/users.svg">
      </div>
      <div [routerLinkActive]="'scale-110 animate-pulse'" [routerLink]="[ '/events', event.id, 'admin', 'settings' ]"
           class="w-full p-4 cursor-pointer transition">
        <img alt="" class="w-full" src="assets/settings.svg">
      </div>
      <button (click)="downloadLeaderboards()" class="w-full p-4 cursor-pointer transition hover:scale-125">
        <img alt="" class="w-full" src="assets/leaderboard.svg">
      </button>
      <button [routerLinkActive]="'scale-110 animate-pulse'"
              [routerLink]="[ '/events', event.id, 'leaderboards' ]" class="w-full font-bold p-4 cursor-pointer transition hover:scale-125">
        LIVE
      </button>
    </div>
    <div class="h-full flex-1">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>

<div (click)="sidebarOpen = true"
     *ngIf="event && event.active"
     class="fixed z-10 w-16 h-16 rounded-full shadow-xl cursor-pointer flex items-center justify-center bottom-8 right-8 bg-gray-400 hover:scale-105">
  <img class="w-8 h-8" src="/assets/new-user.svg">
</div>
<div (click)="sidebarOpen = false" *ngIf="sidebarOpen"
     class="fixed z-40 left-0 top-0 bottom-0 right-0 bg-black opacity-80 cursor-pointer">

</div>
<div [ngClass]="sidebarOpen ? 'translate-x-0' : 'translate-x-full'"
     class="fixed rounded-l-2xl overflow-hidden z-50 w-10/12 h-full top-0 bottom-0 right-0 shadow-xl transition duration-500 bg-white"
     style="max-width: 80vw">
  <app-user-registration-form></app-user-registration-form>
</div>
