<div class="page relative">
  <ng-container *ngIf="eventName && eventColor">
    <div class="absolute w-screen h-36 shadow flex justify-center items-center rounded-b-2xl" [ngStyle]="{ backgroundColor: eventColor }">
      <div class="text-center text-white text-4xl font-bold">
        {{ eventName | titlecase }} - {{ climber.firstname | titlecase }} {{ climber.lastname | uppercase }}
      </div>
      <div class="absolute top-4 right-4 rounded-full w-4 h-4 animate-pulse" [ngClass]="eventActive ? 'bg-green-300' : 'bg-orange-300'"></div>
    </div>

    <ng-container *ngIf="climber && boulders">
      <div class="absolute top-0 bottom-0 left-0 right-0 overflow-auto pt-28">
        <ul class="grid grid-cols-3 sm:grid-cols-6 md:grid-cols-9 gap-4 px-8 pb-8">
          <li *ngFor="let index of boulders" (click)="onBoulderClick(index)">
            <div class="bg-white shadow rounded-2xl aspect-square flex justify-center items-center text-2xl transition duration-300 cursor-pointer select-none"
                 [style]="{ backgroundColor: isBoulderValidated(index) ? adjust(eventColor, 80) : 'white', color: pickTextColorBasedOnBgColorSimple(isBoulderValidated(index) ? adjust(eventColor, 80) : '#FFFFFF') }">
              {{ index + 1 }}
            </div>
          </li>
        </ul>
      </div>
    </ng-container>
  </ng-container>
</div>
